doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        meta(
            name="description"
            content="A RESTful API with complete CRUD functionality to interact with the StreetFood app backend.")
        meta(name="author" content="Jorge L. Garcia")
        meta(name="copyright" content="Copyright Jorge L. Garcia")
        meta(name="robots" content="index, follow")
        meta(name="keywords" content="REST, RESTful API, CRUD, Nodejs, Express, Street Food")
        //- Expiry date is set to 24 hours
        meta(http-equiv="expires" content="86400")
        meta(name="application-name" content="StreetFood API")
        
        link(rel="canonical", href="https://streetfood-api.herokuapp.com/api/docs")
        //- Bootstrap CSS
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        
        //- Bootstrap JS, JQuery, Popper.js
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")

        title StreetFood API | A RESTful CRUD API

    body.bg-light
        include navbar

        main
            include responses
            include routes
        
        block footer
            footer: p.text-center Developed by #[code: strong.text-secondary Jorge L. Garcia]
